.item {
  min-width: 258px;
  height: 145px;
  position: relative;
  margin-right: 6px;

  img {
    position: absolute;
    height: 100.5%;
    width: 100.5%;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
  }
}

.sliderSection {
  margin: 60px 0 50px;

  &:last-child {
    margin-bottom: 0;
  }
}
