@import "../variable.scss";

.search {
  display: flex;
  position: relative;
  overflow: hidden;

  .input {
    background: none;
    border: 1px solid var(--color-white);
    font-weight: var(--font-weight-bold);
    padding: 8px 35px;
    color: var(--color-white);
  }

  .magnifierButton {
    cursor: pointer;
    position: absolute;
    left: 10px;
    top: 50%;
    z-index: 2;
    transform: translateY(-50%);
  }

  .magnifier {
    width: 15px;
    height: 19px;
  }

  .animate {
    transform: translateX(100%);
    transition: 0.3s transform;
  }

  .visible {
    transform: translateX(0);
  }
}
